.accessories .buy-now-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #ff9900;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.accessories .buy-now-button:hover {
    background-color: orange;
}