header {
    background-color: rgb(22, 21, 21);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    font-style: italic;
    border-radius: 10px;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
