main {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
    position: relative;
}

.card-container .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    justify-content: space-between;
    height: 300px;
}

.card-container .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.card-container .card-content {
    padding: 15px;
    text-align: center;
    background-color: white;
    border-top: 1px solid #ddd;
}

.card-container .card-content h3 {
    margin: 0;
    color: #333;
    font-size: 1.2rem;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-container .price {
    font-size: 18px;
    color: #333;
    margin: -15px;
}

.card-container .original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.card-container .new-price {
    color: #B12704;
    font-weight: bold;
}

.card-container .sale-badge {
    position: absolute;
    background-color:  #ff4500;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 1;
}

.card-container .card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    display: block;
}


.card-container a {
    text-decoration: none;
    color: inherit;
}

.card-container .sold-by {
    position: absolute;
    font-size: 0.9em;
    font-style: italic;
    color: rgb(69, 69, 69);
    max-width: 220px;
    left: 1px;
    bottom: -13px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    text-align: left;
}

.card-container .buy-now-button {
    position: absolute;
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff9900;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 18px;
    text-wrap: nowrap;
    margin-left: calc(100% - 85px);
    right: 1px;
}

.card-container .buy-now-button:hover {
    background-color: orange;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 992px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}