.product-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-page .product-images {
    position: relative;
    flex-basis: 40%;
    padding-right: 20px;
}

.product-page .product-images img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    object-fit: contain;
    background-color: #f4f4f4;
}

.product-page .image-gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product-page .image-gallery img {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    cursor: pointer;
}

.product-page .product-details {
    flex-basis: 55%;
}

.product-page .product-details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.product-page .price-section {
    margin-bottom: 20px;
}

.product-page .price {
    font-size: 1.8em;
    color: #B12704;
}

.product-page .description {
    margin-bottom: 20px;
}

.product-page .technical-specs {
    margin-bottom: 20px;
}

.product-page .technical-specs ul {
    list-style-type: disc;
    margin-left: 20px;
}

.product-page .purchase-section {
    margin-bottom: 20px;
}

.product-page .buy-now-button {
    display: inline-block;
    background-color: #f90;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.product-page .buy-now-button:hover {
    background-color: orange;
}


/* on image nav arrows */
.product-page .image-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    user-select: none;
}

#prev {
    left: -10px;
}

#next {
    right: 23px;
}